<!DOCTYPE html>

<html lang='<%- language %>'>

<head>

  <meta charset="utf-8">
  <title><%= title %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" hreflang="x-default" href="<%= urlPath %>" />
  <link rel="alternate" hreflang="en" href="/en<%= urlPath %>" />
  <link rel="alternate" hreflang="ru" href="/ru<%= urlPath %>" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <script src="/vendors/jquery/jquery-1.12.2.min.js"></script>

</head>

<body>

  <div class="container" id="mainbox">

    <h1 class='h2'><%= title %></h1>

    <div class="navbar navbar-default">
      <%- include('menu') %>
    </div>

    <% if (msgText) { %>
      <div class="panel panel-<%= msgStyle %>">
        <div class="panel-heading"><%= msgText %></div>
      </div>
    <% } %>

    <div class="row">
      <%- body %>
    </div>

    <div class="row">
      <hr>
    </div>

  </div>

  <script>
    $(document).ready(function () {
      var menuForm = $('#menu-form');

      $("#menu-a-register").click(function (event) {
        event.preventDefault();
        menuForm.attr('action', '<%- urlPrefix %>/auth/register');
        menuForm.submit();
      });

      $("#menu-a-enter").click(function (event) {
        event.preventDefault();
        menuForm.attr('action', '<%- urlPrefix %>/auth/enter');
        menuForm.submit();
      });
    });
  </script>

</body>

</html>