<h2 class="h3"><%- t("AboutPage") %></h2>
<p><%- t("cSheep", {count: 0}) %></p>
<p><%- t("cSheep", {count: 1}) %></p>
<p><%- t("cSheep", {count: 2}) %></p>
<p><%- t("cSheep", {count: 4}) %></p>
<p><%- t("cSheep", {count: 5}) %></p>
<p><%- t("cSheep", {count: 20}) %></p>
<p><%- t("cSheep", {count: 21}) %></p>